In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window
from pyspark.sql.functions import rank,dense_rank

In [7]:
spark = SparkSession.builder.appName('emp-high-sal-dept').getOrCreate()

In [8]:
data = [
    (1, "A", 1000, "IT"),
    (2, "B", 1500, "IT"),
    (3, "C", 2500, "IT"),
    (4, "D", 3000, "HR"),
    (5, "E", 2000, "HR"),
    (6, "F", 1000, "HR"),
    (7, "G", 4000, "Sales"),
    (8, "H", 4000, "Sales"),
    (9, "I", 1000, "Sales"),
    (10, "J", 2000, "Sales")
]
schema = ["EmpId", "EmpName", "Salary", "DeptName"]

df = spark.createDataFrame(data,schema)

df.show()

+-----+-------+------+--------+
|EmpId|EmpName|Salary|DeptName|
+-----+-------+------+--------+
|    1|      A|  1000|      IT|
|    2|      B|  1500|      IT|
|    3|      C|  2500|      IT|
|    4|      D|  3000|      HR|
|    5|      E|  2000|      HR|
|    6|      F|  1000|      HR|
|    7|      G|  4000|   Sales|
|    8|      H|  4000|   Sales|
|    9|      I|  1000|   Sales|
|   10|      J|  2000|   Sales|
+-----+-------+------+--------+

In [10]:
window = Window.partitionBy('DeptName').orderBy(col('Salary').desc())

In [11]:
df1 = df.withColumn('rank', dense_rank().over(window))

df1.show()

+-----+-------+------+--------+----+
|EmpId|EmpName|Salary|DeptName|rank|
+-----+-------+------+--------+----+
|    4|      D|  3000|      HR|   1|
|    5|      E|  2000|      HR|   2|
|    6|      F|  1000|      HR|   3|
|    3|      C|  2500|      IT|   1|
|    2|      B|  1500|      IT|   2|
|    1|      A|  1000|      IT|   3|
|    7|      G|  4000|   Sales|   1|
|    8|      H|  4000|   Sales|   1|
|   10|      J|  2000|   Sales|   2|
|    9|      I|  1000|   Sales|   3|
+-----+-------+------+--------+----+

In [12]:
df1.where(col('rank')==1).show()

+-----+-------+------+--------+----+
|EmpId|EmpName|Salary|DeptName|rank|
+-----+-------+------+--------+----+
|    4|      D|  3000|      HR|   1|
|    3|      C|  2500|      IT|   1|
|    7|      G|  4000|   Sales|   1|
|    8|      H|  4000|   Sales|   1|
+-----+-------+------+--------+----+

In [13]:
df1.filter(col('rank')==1).show()

+-----+-------+------+--------+----+
|EmpId|EmpName|Salary|DeptName|rank|
+-----+-------+------+--------+----+
|    4|      D|  3000|      HR|   1|
|    3|      C|  2500|      IT|   1|
|    7|      G|  4000|   Sales|   1|
|    8|      H|  4000|   Sales|   1|
+-----+-------+------+--------+----+